body {
    background-image: url(../recursos/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.imagen {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.imagen:hover {
    box-shadow: 0 0 2px 1px rgb(0, 0, 0);
}

.titulo {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

.subtitulo {
    font-size: 30px;
    color: grey;
    text-align: center;
    margin-bottom: 20px;
}

.mapa {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

#formulario {
    font-size: 18px;
    padding-top: 30px;
    margin-left: 320px;
}