html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** 1rem = 10px **/
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    max-width: 2000px;
    width: 95%;
}

.titulo_index {
    font-size: 40px;
    text-align: center;
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.textoejemplos{
    font-size: 30px;
    font-weight: bold;
}

.links{
    font-size: 30px;
    margin-top:20px;
    margin-bottom: 20px;
    color: grey;
}
